.button {
    font-family: var(--primaryfont);
    font-weight: 600;
    color: var(--black-cat);
    font-size: 18px;
    background-color: var(--slime);
    border-radius: 8px;
    border: 3px solid var(--black-cat);
    padding: .5rem 2.5rem;
    cursor: pointer;
}
