.card {
 background-color: var(--black-cat-light);
 width: 100%;
 border: 3px solid var(--grimace);
 border-radius: 10px;
 font-family: var(--primaryFont);
 color: var(--ghost);

 * {
  margin-inline: 1.5rem;
 }

 h3 {
  font-size: 1.25rem;
  font-weight: 500;
 }
}

@media (min-width: 1440px) {
 .card{
  font-size: 1.25rem;

  * {
   padding-inline: 1rem;
  }

  h3 {
   font-size: 1.75rem;
  }
 }
}
