:root {
    --grimace: #BEB8EB;
    --slime: #A9E5BB;
    --pumpkin: #F6B68D;
    --black-cat: #1E1E1E;
    --ghost: #F9FFFA;
    --grimaceLight: #D9D6F1;
    --black-cat-light: #3E3E3E;
    --h1Size: 1.5rem;
    --pageMargin: 1.5rem;
    /* These fonts are declared in @/src/app/layout.tsx
       However, we add them here to make code completion see them.
     */
    --headingFont: var(--headingFont);
    --primaryFont: var(--primaryFont);

}
.container {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 1rem;
}
body {
    margin: 0;
    background-color: var(--black-cat) ;
    padding: 1em 1.5em;
}

@media (min-width: 768px) {
    :root {
        --h1Size: 2.5rem;
        --pageMargin: 2.5rem;

    }
}

@media (min-width: 1024px) {
    body {
        padding: 1em 6em;
    }
}
