.movieList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: .75rem;
  margin-block: var(--pageMargin);

  h3 {
    margin-top: 0;
  }
}

.movieListButton {
  display: flex;
  justify-content: center;
}

.imageContainer {
  display: flex;
  border: 3px solid var(--black-cat);
  border-radius: 10px;
  background-color: var(--black-cat);
  width: 100%;
  max-width: 100% !important;
  aspect-ratio: 0.75;
  transform: none !important;
  --webkit-transform: none !important;
  overflow: hidden;

  a {
    width: 100%;
  }

  img {
    position: relative !important;
    width: auto;
    height: 100%;
  }
}

.listTitle {
  font-family: var(--headingFont);
  font-weight: 800;
  font-size: var(--h1Size);
  color: var(--ghost);
}

@media (min-width: 768px) {
  .movieList {
    grid-template-columns: repeat(6, 1fr);
    overflow-x: visible;
    margin-bottom: 3rem;
  }

  .imageContainer {
    img {
      width: 100%;
    }
  }
}
